body{
    margin: 0;
    font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
    height: 100vh;
}

/*header section*/
header{
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
    height: 100px;
    border-bottom: 1px solid #C6C6C6;
}

img{
    height: 100%;
}
.img-user{

    border-radius: 100%;
}